<!--The content below is only a placeholder and can be replaced.-->

<div class="panel-heading" style="background-color:gainsboro">
    <a href="#"><img src="app/assets/images/book.png" alt="BookStore" class="pull-left" style="width:100px;height:100px" /></a>

    <h1 style="color:black;">
        {{title}}
    </h1>


    <br />
    <br />
    <div style="padding:5px">
        <ul class="nav nav-tabs">

            <li routerLinkActive="active"><a routerLink="home">Home</a></li>
            <li routerLinkActive="active"><a routerLink="books">BookStore</a></li>
            
        </ul>
        <!--<hr style="color:black"/>-->
    </div>

</div>
<router-outlet></router-outlet>



